@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "masterPage.cshtml";
}


<!-- Page Banner Start -->
<div class="section page-banner-section" style="background-image: url(/images/career_background.jpg);">
    <div class="shape-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="944px" height="894px">
            <defs>
                <linearGradient id="PSgrad_0" x1="88.295%" x2="0%" y1="0%" y2="46.947%">
                    <stop offset="0%" stop-color="rgb(67,186,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(113,65,177)" stop-opacity="1" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="rgb(43, 142, 254)" d="M39.612,410.76 L467.344,29.824 C516.51,-13.476 590.638,-9.93 633.938,39.613 L914.192,317.344 C957.492,366.50 953.109,440.637 904.402,483.938 L476.671,864.191 C427.964,907.492 353.376,903.109 310.76,854.402 L29.823,576.670 C-13.477,527.963 -9.94,453.376 39.612,410.76 Z" />
            <path fill="url(#PSgrad_0)" d="M39.612,410.76 L467.344,29.824 C516.51,-13.476 590.638,-9.93 633.938,39.613 L914.192,317.344 C957.492,366.50 953.109,440.637 904.402,483.938 L476.671,864.191 C427.964,907.492 353.376,903.109 310.76,854.402 L29.823,576.670 C-13.477,527.963 -9.94,453.376 39.612,410.76 Z" />
        </svg>
    </div>
    <div class="shape-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="726.5px" height="726.5px">
            <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.302" fill="none" d="M28.14,285.269 L325.37,21.217 C358.860,-8.851 410.655,-5.808 440.723,28.14 L704.777,325.36 C734.846,358.859 731.802,410.654 697.979,440.722 L400.955,704.776 C367.132,734.844 315.338,731.802 285.269,697.978 L21.216,400.954 C-8.852,367.132 -5.808,315.337 28.14,285.269 Z" />
        </svg>
    </div>
    <div class="shape-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="515px" height="515px">
            <defs>
                <linearGradient id="PSgrad_0" x1="0%" x2="89.879%" y1="0%" y2="43.837%">
                    <stop offset="0%" stop-color="rgb(67,186,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(113,65,177)" stop-opacity="1" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="rgb(43, 142, 254)" d="M19.529,202.280 L230.531,14.698 C254.559,-6.661 291.353,-4.498 312.714,19.528 L500.295,230.531 C521.656,254.558 519.493,291.353 495.466,312.713 L284.463,500.295 C260.436,521.655 223.641,519.492 202.281,495.465 L14.699,284.462 C-6.660,260.435 -4.498,223.640 19.529,202.280 Z" />
            <path fill="url(#PSgrad_0)" d="M19.529,202.280 L230.531,14.698 C254.559,-6.661 291.353,-4.498 312.714,19.528 L500.295,230.531 C521.656,254.558 519.493,291.353 495.466,312.713 L284.463,500.295 C260.436,521.655 223.641,519.492 202.281,495.465 L14.699,284.462 C-6.660,260.435 -4.498,223.640 19.529,202.280 Z" />
        </svg>
    </div>
    <div class="shape-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="972.5px" height="970.5px">
            <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M38.245,381.102 L435.258,28.158 C480.467,-12.32 549.697,-7.964 589.888,37.244 L942.832,434.257 C983.23,479.466 978.955,548.697 933.746,588.888 L536.733,941.832 C491.524,982.23 422.293,977.955 382.103,932.745 L29.158,535.732 C-11.32,490.523 -6.963,421.293 38.245,381.102 Z" />
        </svg>
    </div>
    <div class="container">
        <div class="page-banner-wrap">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Banner Content Start -->
                    <div class="page-banner text-center">
                        <h2 class="title">Quy định bảo mật</h2>
                    </div>
                    <!-- Page Banner Content End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End -->
<!-- Choose Us Start -->
<div class="section techwix-choose-us-section-02 techwix-service-section-07 section-padding pb-5" style="background-image: url(/gtel_modern/images/bg/choose-us-bg2.jpg);">
    <div class="container">
        <!-- Choose Us Wrap Start -->
        <div class="choose-us-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">CHÍNH SÁCH BẢO MẬT & ĐIỀU KHOẢN SỬ DỤNG</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">
                            <strong>GTEL</strong> luôn tôn trọng sự riêng tư của bạn, và đó là lý do chúng tôi luôn cam kết bảo vệ những thông tin cá nhân của bạn. Trong tài liệu này, khái niệm “thông tin cá nhân” được hiểu bao gồm tên, địa chỉ, địa chỉ email, số điện thoại hay bất kỳ thông tin cá nhân nào khác mà bạn cung cấp, hoặc bất kỳ thông tin nào về bạn được thu thập theo luật định hiện hành. Mong rằng tài liệu sẽ giúp bạn hiểu rõ những thông tin cá nhân nào mà chúng tôi sẽ thu thập, cũng như cách chúng tôi sử dụng những thông tin này sau đó.
                            Khi bạn truy cập và sử dụng trang web (bao gồm cả việc đăng ký dịch vụ trực tuyến), chúng tôi hiểu rằng bạn hoàn toàn đồng ý với những điều khoản của chính sách này.
                        </p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">1. KHAI BÁO KHI SỬ DỤNG</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Tất cả nội dung bạn xem được trên trang web nhằm phục vụ nhu cầu thông tin của bạn và giúp bạn lựa chọn dịch vụ. Vì thế, bạn được sử dụng trang web mà không cần cung cấp bất kỳ thông tin cá nhân nào. Tuy nhiên, trong một số trường hợp, khi liên quan đến việc đăng ký dịch vụ, chúng tôi có thể yêu cầu bạn cung cấp thông tin cá nhân.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">2. THÔNG TIN CÁ NHÂN DO BẠN CUNG CẤP</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Khi bạn cung cấp các thông tin cần thiết, chúng tôi sẽ sử dụng chúng để đáp ứng yêu cầu của bạn, hoặc chúng tôi có thể liên lạc với bạn qua thư từ, email, tin nhắn hay điện thoại; hoặc tuân theo luật định hiện hành, sử dụng các phương tiện trên để giới thiệu đến bạn những sản phẩm, dịch vụ hay chương trình khuyến mãi mới từ GTEL. Khi cung cấp thông tin cho chúng tôi qua trang web này, bạn hiểu rõ và chấp thuận việc thu thập, sử dụng và tiết lộ những thông tin cá nhân nêu trên cho một số mục đích được quy định trong trang này.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Bạn hoàn toàn đồng ý và chấp thuận rằng những thông tin cá nhân bạn cung cấp khi sử dụng trang web có thể được bảo lưu tại trụ sở hay chi nhánh của GTEL, có thể được lưu trữ tại một số máy chủ hiện có hay chưa biết trước cho mục đích vận hành và phát triển trang web cũng như các dịch vụ của GTEL.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Nếu bạn đặt hàng một sản phẩm, yêu cầu một dịch vụ hoặc gởi thư phản hồi lên trang web, chúng tôi có thể liên hệ với bạn để có những thông tin bổ sung cần thiết cho việc xử lý hoặc hoàn thành đơn đặt hàng và / hoặc yêu cầu của bạn. Tuy nhiên, chúng tôi sẽ không cung cấp thông tin này cho một bên thứ ba mà không được sự cho phép của bạn, trừ trường hợp bị pháp luật hiện hành bắt buộc hoặc trường hợp cần thiết để xử lý đơn đặt hàng (ví dụ: đăng ký với VNNIC, giải quyết tranh chấp).</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL cam kết bảo vệ sự riêng tư của bạn, không mua bán thông tin cá nhân của bạn cho các công ty khác vì các mục đích khuyến mãi.</p>                        
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">3. CUNG CẤP CHO CÁC ĐƠN VỊ KHÁC</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Chúng tôi có thể sử dụng một số đơn vị khác để cung cấp sản phẩm hay dịch vụ cho bạn. Chúng tôi cũng cần trao đổi thông tin cá nhân của bạn đến các đơn vị này để họ hoàn thành yêu cầu của bạn. Những đơn vị này cũng không được phép sử dụng thông tin cá nhân của bạn cho các mục đích khác và chúng tôi đồng thời yêu cầu họ tuân theo quy định bảo mật khi tiến hành cung cấp dịch vụ.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">4. GHI NHẬN THÔNG TIN TRÌNH DUYỆT</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Đôi khi, thông tin có thể được đưa vào máy tính của bạn để giúp chúng tôi nâng cấp trang web hay cải thiện chất lượng dịch vụ cho bạn. Những thông tin này thường được biết đến dưới dạng các “cookies” mà nhiều trang web hiện cũng đang sử dụng. “Cookies” là những mẩu thông tin lưu trữ trong đĩa cứng hay trình duyệt trên máy tính của bạn, không phải trên trang web. Chúng cho phép thu thập một số thông tin về máy tính của bạn như địa chỉ IP, hệ điều hành, chế độ trình duyệt và địa chỉ của các trang web liên quan. Nếu bạn không muốn nhận các cookies này, hoặc muốn được thông báo khi các cookies này được đặt vào, bạn có thể cài đặt chế độ trình duyệt của bạn thực hiện điều này nếu trình duyệt của bạn hỗ trợ. Vui lòng lưu ý, nếu bạn tắt chế độ nhận cookies, bạn sẽ không thể truy cập hay sử dụng một số tiện ích trên trang web mà không được xác định trước. Chúng tôi không cố ý hạn chế việc sử dụng của bạn trong tình huống này, đây chỉ là giới hạn trong việc lập trình và xây dựng trang web.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">5. AN TOÀN THÔNG TIN</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Khi lập trình trang web, chúng tôi có thể đặt những luật định hợp lý mang tính thương mại để ngăn chặn hành vi truy cập bất hợp pháp và việc sử dụng không thích đáng các thông tin cá nhân của bạn đã gửi cho GTEL thông qua việc sử dụng trang web này. Nếu trang web này hỗ trợ việc giao dịch trực tuyến, nó sẽ được áp dụng một tiêu chuẩn công nghệ được gọi là SSL (Secure Sockets Layer), để bảo vệ tính bảo mật và an toàn trên đường truyền dữ liệu. Vì luôn có những rủi ro liên quan đến vấn đề cung cấp dữ liệu cá nhân, cho dù là cung cấp trực tiếp, qua điện thoại hay qua mạng internet, hay qua các phương tiện kỹ thuật khác; và không có hệ thống kỹ thuật nào an toàn tuyệt đối hay chống được tất cả các “hacker” và “tamper” (người xâm nhập trái phép để lục lọi thông tin), GTEL luôn nỗ lực tiến hành những biện pháp đề phòng thích hợp đối với từng đặc tính của thông tin để ngăn chặn và giảm thiểu tối đa các rủi ro có thể khi bạn sử dụng trang web này.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">6. THÔNG TIN QUA EMAIL</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Khi bạn đăng ký dịch vụ, địa chỉ e-mail của bạn cung cấp sẽ dùng làm công cụ trao đổi thông tin với bạn. Trước hết bạn hãy chắc rằng bạn cung cấp địa chỉ e-mail hữu dụng đối với bạn trong suốt quá trình sử dụng dịch vụ. Chúng tôi có thể gởi những thông tin bí mật qua e-mail hay tiếp nhận yêu cầu hỗ trợ của bạn. Trong trường hợp bạn không còn sử dụng e-mail đã cung cấp, bạn phải báo cho chúng tôi để về việc thay đổi này. Để bảo vệ bạn, GTEL có thể tạm thời ngưng tiếp nhận yêu cầu qua e-mail bạn đã cung cấp nếu nhận thấy có sự gian lận hoặc thông tin bất thường – cho đến khi chúng tôi liên hệ được với bạn để xác nhận.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">7. ĐIỀU CHỈNH THÔNG TIN</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL sẽ chủ động hoặc theo yêu cầu của bạn bổ sung, hiệu chỉnh hay tẩy xóa các dữ liệu thông tin cá nhân không chính xác, không đầy đủ hoặc không cập nhật khi bạn còn liên kết với hoạt động của chúng tôi.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">8. TRẺ VỊ THÀNH NIÊN</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL từ chối phục vụ cá nhân còn ở độ tuổi Trẻ vị thành niên (do luật pháp địa phương mà bạn cư ngụ quy định) không được quyền mua hay tìm cách sử dụng dựa trên điều lệ hợp pháp khác trên trang web này nếu không có sự chấp thuận của ba/mẹ hay người giám hộ hợp pháp, trừ khi luật pháp địa phương có áp dụng hay cho phép.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">9. LIÊN KẾT NGOÀI TRANG WEB</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Trang web này có thể chứa các đường liên kết đến các trang web khác được đặt vào nhằm mục đích giới thiệu hoặc bổ sung thông tin liên quan để bạn tham khảo. GTEL không chịu trách nhiệm về nội dung hay các hành vi của bất kỳ trang web nào khác.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">10. THAY ĐỔI QUY ĐỊNH</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL có thể thay đổi quy định này một cách không thường xuyên, bao gồm việc bổ sung, loại bỏ một phần nội dung hoặc tạm ngưng trang web mà không cần báo trước. Tuy nhiên, nếu quy định này được thay đổi theo hướng có thể gây bất lợi cho bạn, GTEL sẽ cố gắng thông báo về sự thay đổi qua e-mail bạn đã cung cấp hoặc ngay trên trang chủ.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
        </div>
        <!-- Choose Us Wrap End -->
    </div>
</div>
<!-- Choose Us End -->