<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Gtel.Lib" value="../../Gtel.Lib/Build.Core" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Ensure Umbraco packages are pulled from MyUmbraco source -->
    <packageSource key="Gtel.Lib">
      <package pattern="Umbraco.Cms*" />
    </packageSource>
    <!-- All other packages are pulled from NuGet -->
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>