@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "masterPage.cshtml";
}

<!-- Page Banner Start -->
<div class="section page-banner-section" style="background-image: url(/images/career_background.jpg);">
    <div class="shape-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="944px" height="894px">
            <defs>
                <linearGradient id="PSgrad_0" x1="88.295%" x2="0%" y1="0%" y2="46.947%">
                    <stop offset="0%" stop-color="rgb(67,186,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(113,65,177)" stop-opacity="1" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="rgb(43, 142, 254)" d="M39.612,410.76 L467.344,29.824 C516.51,-13.476 590.638,-9.93 633.938,39.613 L914.192,317.344 C957.492,366.50 953.109,440.637 904.402,483.938 L476.671,864.191 C427.964,907.492 353.376,903.109 310.76,854.402 L29.823,576.670 C-13.477,527.963 -9.94,453.376 39.612,410.76 Z" />
            <path fill="url(#PSgrad_0)" d="M39.612,410.76 L467.344,29.824 C516.51,-13.476 590.638,-9.93 633.938,39.613 L914.192,317.344 C957.492,366.50 953.109,440.637 904.402,483.938 L476.671,864.191 C427.964,907.492 353.376,903.109 310.76,854.402 L29.823,576.670 C-13.477,527.963 -9.94,453.376 39.612,410.76 Z" />
        </svg>
    </div>
    <div class="shape-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="726.5px" height="726.5px">
            <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" opacity="0.302" fill="none" d="M28.14,285.269 L325.37,21.217 C358.860,-8.851 410.655,-5.808 440.723,28.14 L704.777,325.36 C734.846,358.859 731.802,410.654 697.979,440.722 L400.955,704.776 C367.132,734.844 315.338,731.802 285.269,697.978 L21.216,400.954 C-8.852,367.132 -5.808,315.337 28.14,285.269 Z" />
        </svg>
    </div>
    <div class="shape-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="515px" height="515px">
            <defs>
                <linearGradient id="PSgrad_0" x1="0%" x2="89.879%" y1="0%" y2="43.837%">
                    <stop offset="0%" stop-color="rgb(67,186,255)" stop-opacity="1" />
                    <stop offset="100%" stop-color="rgb(113,65,177)" stop-opacity="1" />
                </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="rgb(43, 142, 254)" d="M19.529,202.280 L230.531,14.698 C254.559,-6.661 291.353,-4.498 312.714,19.528 L500.295,230.531 C521.656,254.558 519.493,291.353 495.466,312.713 L284.463,500.295 C260.436,521.655 223.641,519.492 202.281,495.465 L14.699,284.462 C-6.660,260.435 -4.498,223.640 19.529,202.280 Z" />
            <path fill="url(#PSgrad_0)" d="M19.529,202.280 L230.531,14.698 C254.559,-6.661 291.353,-4.498 312.714,19.528 L500.295,230.531 C521.656,254.558 519.493,291.353 495.466,312.713 L284.463,500.295 C260.436,521.655 223.641,519.492 202.281,495.465 L14.699,284.462 C-6.660,260.435 -4.498,223.640 19.529,202.280 Z" />
        </svg>
    </div>
    <div class="shape-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="972.5px" height="970.5px">
            <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M38.245,381.102 L435.258,28.158 C480.467,-12.32 549.697,-7.964 589.888,37.244 L942.832,434.257 C983.23,479.466 978.955,548.697 933.746,588.888 L536.733,941.832 C491.524,982.23 422.293,977.955 382.103,932.745 L29.158,535.732 C-11.32,490.523 -6.963,421.293 38.245,381.102 Z" />
        </svg>
    </div>
    <div class="container">
        <div class="page-banner-wrap">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Page Banner Content Start -->
                    <div class="page-banner text-center">
                        <h2 class="title">Điều khoản sử dụng</h2>
                    </div>
                    <!-- Page Banner Content End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End -->

<!-- Choose Us Start -->
<div class="section techwix-choose-us-section-02 techwix-service-section-07 section-padding pb-5" style="background-image: url(/gtel_modern/images/bg/choose-us-bg2.jpg);">
    <div class="container">
        <!-- Choose Us Wrap Start -->
        <div class="choose-us-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title text-uppercase">Terms of Use</h2>
                            <h3 class="sub-title">Chào mừng bạn ghé thăm website chính thức của Tổng công ty Viễn thông Toàn cầu GTEL</h3>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Chúng tôi mong bạn vui lòng dành thời gian đọc và tìm hiểu những điều khoản về thỏa thuận pháp lý giữa bạn và GTEL như dưới đây.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Thông qua việc truy cập, duyệt nội dung, hoặc sử dụng bất kì nội dung, hình ảnh nào của trang thông tin điện tử này, bạn (người sử dụng) công nhận rằng bạn đã đọc, hiểu và nhất trí với việc tuân thủ các quy định của những điều khoản này. Nếu bạn không nhất trí với những điều khoản này, xin vui lòng không sử dụng trang thông tin điện tử này.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL chịu trách nhiệm đảm bảo tính hợp pháp của việc cung cấp nội dung trên website đến người sử dụng. Mọi thông tin, hình ảnh và toàn bộ nội dung được đăng tải trên website tuân thủ các quy định của pháp luật, và phù hợp với thuần phong mỹ tục Việt Nam.</p>                        
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">BẢN QUYỀN VÀ THƯƠNG HIỆU</h2>
                            <h3 class="sub-title">Tuyên bố các quyền Sở hữu trí tuệ của GTEL đối với các đối tượng thể hiện trên website</h3>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Trang web này và tất cả nội dung của website, bao gồm nhưng không giới hạn các văn bản, thiết kế, đồ họa, giao diện, hình ảnh, mã code đều thuộc bản quyền của GTEL hoặc bên thứ ba cấp phép cho GTEL. Bản quyền của GTEL được thể hiện trên website bằng dòng chữ tiếng Anh '© 2015 Copyright by GTEL Corp. All rights reserved.'.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Bất kỳ nội dung nào thuộc website này bao gồm nhãn hiệu, tên thương mại, mẫu logo công ty hoặc sản phẩm, kiểu dáng sản phẩm... đều thuộc quyền sở hữu của GTEL và được bảo hộ theo quy định của Luật Sở hữu trí tuệ Việt Nam và các văn bản liên quan.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Mọi hành vi sao chép, trích dẫn, sửa đổi, phân phối, xuất bản, lưu thông… vì mục đích thương mại dưới mọi hình thức mà không được sự chấp thuận trước bằng văn bản của GTEL là xâm phạm quyền của GTEL. GTEL có quyền yêu cầu người sử dụng chấm dứt việc sử dụng và bồi thường thiệt hại (nếu có).</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">NỘI DUNG</h2>
                            <h3 class="sub-title">Quyền và trách nhiệm của GTEL</h3>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL có quyền thay đổi và/hoặc chấm dứt các nội dung, tính năng của một phần hay toàn bộ website mà không cần thông báo trước với người sử dụng.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL có quyền thực hiện các biện pháp an ninh để bảo vệ và chống các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL có quyền thực hiện các biện pháp an ninh để bảo vệ và chống lại các truy cập trái phép hoặc sửa đổi trái phép, tiết lộ hoặc phá hủy thông tin trên website.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Khi sử dụng website, thông tin sẽ được truyền qua một phương tiện/thiết bị nằm ngoài sự kiểm soát của GTEL . Theo đó, GTEL không chịu trách nhiệm cho hoặc liên quan đến bất kỳ sự chậm trễ, thất bại, bị gián đoạn của bất kỳ dữ liệu hoặc các thông tin khác được truyền trong kết nối với việc sử dụng của website.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Thông tin cá nhân như địa chỉ, email, số điện thoại của người sử dụng website (do người sử dụng tự nguyện cung cấp bằng các hình thức khác nhau trên website) có thể được sử dụng nội bộ cho mục đích nâng cấp các sản phẩm, dịch vụ của GTEL. GTEL cam kết không chủ động tiết lộ bất kỳ thông tin nào của người sử dụng cho bên thứ ba, ngoại trừ trường hợp có yêu cầu bằng văn bản của các đơn vị điều tra theo đúng luật pháp hiện hành. Khi đó, GTEL sẽ thông báo tới người sử dụng bằng văn bản. Tuy nhiên, mặc dù có các công nghệ bảo mật và hệ thống cũng được trang bị rất nhiều tính năng bảo mật, nhưng không một dữ liệu nào được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy, GTEL không thể đưa ra một cam kết chắc chắn rằng thông tin bạn cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối, và cũng sẽ không chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của người sử dụng. Tất cả các thông tin, tài liệu không mang tính chất riêng tư được người sử dụng đưa lên website đều không được xem là thông tin mật, GTEL được phép toàn quyền sử dụng hay chuyển tải cho bất kỳ mục đích nào.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL được phép sử dụng bất kỳ ‎ý tưởng hay khái niệm nào mà bạn đã đưa lên website cho tất cả các mục đích không giới hạn, bao gồm cả việc phát triển, sản xuất hay tiếp thị sản phẩm. GTEL không có trách nhiệm phải bồi thường hay thưởng cho người cung cấp.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Bạn phải ‎ý thức và bảo đảm những thông tin, tài liệu mà bạn gửi phải nằm trong quyền hạn sử dụng của bạn; điều đó có nghĩa GTEL sẽ không vi phạm bất cứ quyền lợi nào của bên thứ ba.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL có quyền từ chối một số tài liệu bạn gửi mà không bắt buộc phản hồi lý do.</p>
                        <div class="section-title mx-0">
                            <h3 class="sub-title">Quyền và trách nhiệm của người sử dụng</h3>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL cho phép người sử dụng xem, chiết xuất thông tin trên website (in, tải, chuyển tiếp…) hoặc chia sẻ cho người khác nhưng chỉ cho mục đích sử dụng cá nhân và phi thương mại với điều kiện phải trích dẫn thông báo bản quyền sau đây: '©2015 Copyright by GTEL Corp.”</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Bạn đảm bảo tuân theo pháp luật và các quy định liên quan đến việc sử dụng website của GTEL; Không can thiệp, gây ảnh hưởng đến việc sử dụng website của những người sử dụng khác; Không can thiệp vào hoạt động và quản lý website của GTEL.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Bạn nhận thức rõ và chấp nhận rằng GTEL và/hoặc các công ty thành viên/đơn vị trực thuộc /nhân viên GTEL không chịu trách nhiệm đối với bất kỳ tổn thất, thiệt hại, chi phí phát sinh từ bất kỳ quyết định nào của bạn khi sử dụng bất kỳ thông tin nào trên website với bất kỳ nguyên nhân gì.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Nếu bạn không bằng lòng với bất kỳ thông tin nào trên Website hoặc với bất kỳ điều khoản và điều kiện sử dụng thông tin trên Website này thì phương thức duy nhất bạn nên thực hiện là chấm dứt truy cập/sử dụng thông tin trên website.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
            <div class="row mt-3 mt-sm-5">
                <div class="col-sm-12">
                    <!-- Choose Us Left Start -->
                    <div class="choose-us-left service-content mt-0 wow fadeInLeft">
                        <div class="section-title mx-0">
                            <h2 class="title">ĐIỀU KHOẢN CHUNG</h2>
                        </div>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Điều khoản sử dụng được điều chỉnh bởi pháp luật Việt Nam.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Một điều khoản sử dụng bị vô hiệu theo quyết định của tòa án có thẩm quyền sẽ không ảnh hưởng đến tính hiệu lực của các điều khoản còn lại.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">GTEL luôn hoan nghênh những ý kiến/góp ý của bạn về nội dung website. Nếu có một phần nào đó của website này mà bạn cho rằng đã có dấu hiệu vi phạm bản quyền của bên thứ ba, vui lòng gửi liên hệ với Ban Truyền Thông của GTEL.</p>
                        <p class="text mt-2 pe-0" style="text-align: justify;">Thông báo này và tất cả các điều khoản sử dụng tạo thành toàn bộ thỏa thuận giữa GTEL và bạn liên quan đến việc sử dụng các thông tin trên website. GTEL có thể điều chỉnh nội dung thông báo này bất cứ lúc nào bằng cách cập nhật lên website. Bạn nên thường xuyên truy cập website để theo dõi các quy định ràng buộc này khi sử dụng.</p>
                    </div>
                    <!-- Choose Us Left End -->
                </div>
            </div>
        </div>
        <!-- Choose Us Wrap End -->
    </div>
</div>
<!-- Choose Us End -->